.btn {
  background-color: transparent;
  border: none;
}
.btn.btn-s {
  padding: 5px 16px;
}
.btn.btn-m {
  padding: 9px 16px;
}
.btn.btn-l {
  padding: 16px 24px;
}
.btn.btn-primary {
  background-color: #3563e9;
  color: #fff;
}
.btn.btn-secondary {
  background-color: #fff;
  border-radius: 4px;
}
.footer {
  padding-top: 80px;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 32px;
  border: 1px solid rgba(195, 212, 233, 0.4);
}

.footer-right {
  display: flex;
  gap: 32px;
}
.footer-right .footer-content a {
  text-decoration: none;
  color: #90a3bf;
  gap: 15px;
}

.footer-left h1 {
  font-size: 32px;
  color: #3563e9;
}

p {
  color: #90a3bf;
}

.copyright {
  padding-top: 30px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 32px;
}
.copyright .copyright-left p {
  color: black;
}
.copyright a {
  color: black;
  text-decoration: none;
}
.copyright .copyright-right {
  display: flex;
  text-align: center;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .sub-footer {
    flex-wrap: wrap;
    padding-top: 80px;
  }
  .sub-footer .footer-right {
    flex-wrap: wrap;
  }
  .copyright {
    flex-wrap: wrap;
  }
}
.header {
  height: 124px;
  padding-left: 60px;
  padding-right: 32px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  gap: 32px;
}

.search {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  width: 492px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #fff;
}

.user-icon {
  height: 44px;
  width: 44px;
  border-radius: 50px;
}

.input {
  border: none;
  width: 80%;
  outline: none;
}

.action {
  display: flex;
  gap: 20px;
}

.action-content {
  padding: 10px 10px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.logo {
  text-decoration: none;
  font-size: 32px;
  color: #3563e9;
}

.a {
  text-decoration: none;
  color: black;
}
.a :hover {
  color: red;
}

.header-top {
  display: none;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  gap: 32px;
}

.mb-logo {
  display: none;
}

.mb-search {
  display: none;
}

.mb-bottom {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
  }
  .header-bottom {
    display: none;
  }
  .search {
    display: none;
  }
  .header-bottom .action {
    display: none;
  }
  .mb-menu {
    border: none;
    background-color: #fff;
  }
  .mb-logo {
    display: flex;
  }
  .mb-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 24px;
  }
  .mb-search {
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    height: 44px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mb-setting {
    display: flex;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 10px;
    width: 48px;
    height: 48px;
  }
  .mb-setting .mb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
  }
}
.main {
  background-color: #e0e9f4;
  display: flex;
  padding: 32px 64px;
  gap: 32px;
}
.main .main-content-left {
  width: 50%;
  height: 360px;
  background-color: #54a6ff;
  border-radius: 10px;
}
.main .main-content-right {
  width: 50%;
  height: 360px;
  background-color: #3563e9;
  border-radius: 10px;
}
.main .main-title {
  padding-left: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.main .main-title h2 {
  color: #fff;
}
.main .main-title p {
  color: #fff;
}
.main .left-button {
  border: none;
  border-radius: 4px;
  padding: 0px 20px;
  width: 120px;
  height: 44px;
  background-color: #3563e9;
}
.main .left-button .button-p {
  color: #fff;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}
.main .right-button {
  border: none;
  border-radius: 4px;
  padding: 0px 20px;
  width: 120px;
  height: 44px;
  background-color: #54a6ff;
}
.main .right-button .button-p {
  color: #fff;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}

.main-img {
  padding-top: 10%;
  padding-left: 30%;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 90px 24px;
  }
  .main .main-content-right {
    display: none;
  }
  .main .main-content-left {
    padding-top: 150px;
    padding: 0 24px;
    width: 100%;
  }
}
.cart {
  padding: 0px 24px;
  width: 304px;
  height: 450px;
  background-color: #fff;
  border-radius: 10px;
}
.cart .cart-header {
  display: flex;
  justify-content: space-between;
}
.cart .cart-header .cart-p {
  color: black;
  font-size: 20px;
  padding-top: 24px;
}
.cart .cart-header .cart-title-span {
  color: #90a3bf;
}
.cart .cart-header .cart-button {
  background: none;
  border: none;
}
.cart .cart-header .cart-button .hover-icon {
  color: black;
}
.cart .cart-header .cart-button .hover-icon :hover {
  color: red;
}
.cart .cart-header .cart-button .cart-icon {
  color: black;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.cart .cart-img {
  width: 100%;
  padding: 64px 0px;
}
.cart .cart-body {
  display: flex;
  height: 24px;
  justify-content: space-between;
  gap: 16px;
}
.cart .cart-body .cart-body-title {
  display: flex;
  text-align: center;
  gap: 4px;
}
.cart .cart-body .cart-body-title .cart-body-icon {
  width: 24px;
  height: 24px;
  color: #90a3bf;
}
.cart .cart-body .cart-body-title .cart-body-p {
  color: #90a3bf;
}
.cart .cart-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 24px 0px;
}
.cart .cart-footer .cart-priceday {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .cart-footer .cart-priceday .price {
  font-size: 20px;
  color: black;
}
.cart .cart-footer .cart-priceday .day {
  color: #90a3bf;
  display: flex;
  justify-content: center;
  text-align: center;
}
.cart .cart-footer .price-button {
  border: none;
  border-radius: 4px;
  padding: 0px 20px;
  width: 116px;
  height: 44px;
  color: #fff;
  font-size: 16px;
  background-color: #3563e9;
}

@media screen and (max-width: 768px) {
  .cart {
    height: 100%;
    width: 100%;
  }
  .cart .mb-cart-body {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
  .cart .mb-cart-body .cart-body {
    justify-content: start;
    flex-wrap: wrap;
  }
}
.popular {
  background-color: #e0e9f4;
  padding: 20px 64px;
}
.popular .popular-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.popular .popular-head h2 {
  color: #90a3bf;
  font-size: 16px;
}
.popular .popular-head a {
  text-decoration: none;
  color: #3563e9;
  font-size: 16px;
}
.popular .popular-car {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.recommended {
  background-color: #e0e9f4;
  padding: 20px 64px;
}
.recommended .recommended-head {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
.recommended .recommended-head h2 {
  color: #90a3bf;
  font-size: 16px;
}
.recommended .recommended-head a {
  text-decoration: none;
  color: #3563e9;
  font-size: 16px;
}
.recommended .recommended-top {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.recommended .recommended-bottom {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-top: 32px;
}

.wiew {
  background-color: #e0e9f4;
  padding: 20px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wiew .wiew-button {
  border: none;
  border-radius: 4px;
  width: 116px;
  height: 44px;
  color: #fff;
  font-size: 16px;
  background-color: #3563e9;
}
.wiew h4 {
  color: #90a3bf;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .popular-car {
    flex-wrap: wrap;
  }
  .recommended-head {
    flex-wrap: wrap;
  }
  .recommended .recommended-top {
    flex-wrap: wrap;
  }
  .recommended .recommended-bottom {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */