.header {
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 32px;
  border: 1px solid rgba(195, 212, 233, 0.4);
}
.find {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  width: 492px;
  height: 44px;
  display: flex;
  justify-content: center;
}
.icon {
  border: none;
  background-color: $white;
}
.user-icon{
  height: 44px;
  width: 44px;
  border-radius: 50px;

}
.input {
  border: none;
  width: 80%;
}
.action{
  display: flex;
}
.action-content{
  padding: 10px 10px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.logo{
  text-decoration: none;
  font-size: 60px;
  color: $primary-500;
}

@media screen and (max-width: 768px) {
  
}
